/* footer */
.footer img{
    width: 100%;
    margin-top: 3rem;
}


/* Media Query */

@media screen and (min-width: 1300px) and (max-width: 1600px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (min-width: 1050px) and (max-width: 1300px) {
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (min-width: 700px) and (max-width: 1050px) {
   footer img{
    width: 915px;
   }
}

@media screen and (max-width: 700px) {
 
}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 400px) {

}