*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.maincontainer{
   background-color: gainsboro;
   text-align: center;
   width: 100%;
}

.frame{
    display: flex;
    flex-direction: row;
    background-color: white;
}

.frame2{
    display: flex;
    flex-direction: row;
    background-color:#262626;
    color: white;
    height: 2rem;
    padding-top: 10px;
    margin: 0;
}

.h2{
    margin-left: 2rem;
}

.logo{
    display: flex;
    flex-direction: row;
    margin-left: 50rem;
}

.hot{
     margin-right: 3rem;
}

.eng{
    display: flex;
    flex-direction: row;
}

.nav{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 30px;
}

.nav h5{
    margin-left: 3rem;
}

.hi{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 4rem;
}

.hi3 i{
    font-size: 40px;
    color: black;
}

.h1 a{
    text-decoration: none;
    color: black;
}

.div3{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.textbox input{
    height: 2rem;
    padding-left: 5rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
}

.shop{
    display: flex;
    flex-direction: row;
    background: red;
    width: 15rem;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20px;
    border-radius: 10px;
}

.bf{
    text-decoration: none;
    background: black;
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20px;
    border-radius: 10px;
}

.bf a{
    text-decoration: none;
    color: white;
}


/* Media Query */
@media screen and (max-width: 1300px) {
    .logo{
        display: flex;
        flex-direction: row;
        margin-left: 700px;
       
    }
}


@media screen and (min-width: 700px) and (max-width: 1050px) {
    .maincontainer{
        width: 915px;
    }

    .frame2{
        width: 915px;
    }

    .logo{
        display: flex;
        flex-direction: row;
        margin-left: 350px;
       
    }
    
    .hot{
         margin-right: 3rem;
    }

    .h2{
       
    }

    .eng img{
        width: px;
        height: px;
    }

    .frame{
        width: 915px;
    }
    
    .img22 img{
        width: 100px;
    }
    
    .nav{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        margin-left: 30px;
    }
    
    .nav h5{
        margin-left: 9px;
        font-size: 10px;
    }

    .hi{
        display: flex;
        flex-direction: row;
        margin-top: 9px;
        margin-left: 10rem;
    }

    .hi2{
        width: 40px;
    }

    .hi3{
        width: 40px;
    }
    
    .hii{
        width: 105px;
       }

    .div3{
        max-width: 915px;
        display: flex;
        flex-direction: row;
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .bf{
        display: flex;
       width: 200px;
        flex-direction: row;
        border-radius: 10px;
    }

    .bf a{
        display: flex;
        flex-direction: row;
       font-size: 10px;
    }
    
    .shop{
        width: 200px;
    }

    .shop h5{
       font-size: 10px;
    }

    .shop img{
        width: 10px;
    }

    .textbox input{
        width: 200px;
    }
 }

@media screen and (max-width: 550px) {
    .maincontainer{
        width: 450px;
        
    }

    .maincontainer h5{
        font-size: 5px;
    }

    .frame2{
        width: 450px;
    }

    .logo{
        display: flex;
        flex-direction: row;
        margin-left: 150px;
        width: 290px;
    }
    
    .hot{
         margin-right: 3rem;
    }

    .h2{
        width: 5px;
    }

    .eng img{
        width: 6px;
        height: 6px;
    }

    .frame{
        width: 450px;
    }
    
    .img22 img{
        width: 70px;
    }
    
    .nav{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        margin-left: 10px;
    }
    
    .nav h5{
        margin-left: 9px;
        font-size: 5px;
    }

    .hi{
        display: flex;
        flex-direction: row;
        margin-top: 9px;
        margin-left: 0rem;
    }

    .hi2{
        width: 30px;
    }

    .hi3{
        width: 30px;
    }
    
    .hii{
        width: 75px;
       }

    .div3{
        max-width: 450px;
        display: flex;
        flex-direction: row;
        background-color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .bf{
        display: flex;
       width: 100px;
        flex-direction: row;
        border-radius: 10px;
    }

    .bf a{
        display: flex;
        flex-direction: row;
       font-size: 5px;
    }
    
    .shop{
        width: 100px;
    }

    .shop h5{
       font-size: 5px;
    }

    .shop img{
        width: 10px;
    }

    .textbox input{
        width: 200px;
    }
}

@media screen and (max-width: 400px) {

}