.container3{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 730%;
    left: 47%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.wrapper3{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.wrapper3 img{
    width: 100%;
}

.phones{
    display: flex;
    flex-direction: row ;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
}


/* Media Query */
@media screen and (max-width: 1300px) {
    .container3{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 581%;
        left: 50%;
        width: 900px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    }
}

@media screen and (min-width: 700px) and (max-width: 1050px) {
    .container3{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 868%;
        left: 50%;
        width: 900px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    }
    
    .phone img{
        width: 915px;
    }

    .phones img{
      width: 225px;
    }

    .Trademarks img{
        width: 915px;
    }
 }

@media screen and (max-width: 550px) {
    .container3{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 217%;
        left: 53%;
        width: 400px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    }
    
    .phone img{
        width: 400px;
    }

    .phones img{
        width: 90px;
    }

    .Trademarks img{
        width: 400px;
    }


}

@media screen and (max-width: 400px) {
    .container3{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 298%;
        left: 59%;
        width: 400px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    } 
}